<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package ="com.aspino.it.karbar">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/Logo_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:name=".FontMain"
        tools:replace="android:allowBackup,android:label"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.aspino.it.karbar.Splash"
            android:label="@string/Logo_name"
            android:noHistory="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aspino.it.karbar.MainMenu"
            android:noHistory="true" />
        <activity
            android:name="com.aspino.it.karbar.Login"
            android:noHistory="false" />
        <activity
            android:name="com.aspino.it.karbar.Accept_code"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.Profile"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.About"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.List_Address"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.Service_Request_SelectAddress"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.UpdateAddress"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.Credit"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.List_ServiceDerails"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.Service_Request1"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.Map"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.Service_Request_OffCode"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.Final_ShowCodeService"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.Paigiri"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.Pardakh_Factor_Sefaresh"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.ProfileEdit"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.Select_Hamyar"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.Info_Person"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.Survey"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.Joziat_Motekhases"
            android:noHistory="false"/>
        <activity
            android:name="com.aspino.it.karbar.Comment_Customer"
            android:noHistory="false"/>
        <service android:name="com.aspino.it.karbar.ServiceGetSliderPic">

        </service>
        <service android:name="com.aspino.it.karbar.ServiceGetServicesAndServiceDetails">

        </service>
        <service android:name="com.aspino.it.karbar.ServiceGetUserServicesHamyarRequest">

        </service>
        <service android:name="com.aspino.it.karbar.ServiceGetServiceSaved">

        </service>
        <service android:name="com.aspino.it.karbar.ServiceGetUserServiceStartDate">

        </service>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDzlg_PGiriwn7yipo2xDLeLwIJ8mD6EMs" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <receiver android:name="com.aspino.it.karbar.SMSReseiver" android:enabled="true" android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name=
                    "android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>